<!DOCTYPE html>
<hr />
<div id="contact_container">
    <ul id="contact">
        <li><a href="mailto:yparekh39@gmail.com">Email</a></li>
        <li>•</li>
        <li><a href="https://www.linkedin.com/in/yparekh">LinkedIn</a></li>
        <li>•</li>
        <li><a href="https://vs.co/yparekh">VSCO</a></li>
        <li>•</li>
        <li><a href="https://letterboxd.com/yparekh39">Letterboxd</a></li>
        <li>•</li>
        <li><a href="https://yashparekh.substack.com">Blog</a></li>
    </ul>
</div>
