body {
    text-align: center;
    margin: auto;
    padding-top: 24px;
}

h1 {
    font-family: rig-solid-bold-reverse,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 104px;
    color: ghostwhite;
    margin: 8px;
    margin-top: 32px;
}

h2 {
    font-family: soleil, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: ghostwhite;
}

h4 {
    font-family: 'Open Sans';
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-style: italic;
    color: ghostwhite;
    text-align: center;
}

.things-i-like {
    padding-top: 16px;
}

hr {
    height: 2px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: ghostwhite;
}

p {
    color: ghostwhite;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
}

img {
    height: auto;
    width: 376px;
}

div#contact_container {
    text-align: center;
}

ul#contact {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

ul#contact li a {
    text-decoration: none;
    color: white;
}

ul#contact li a:hover {
    text-decoration: underline;
}

ul#contact li {
    text-decoration: none;
    display: inline;
    font-family: soleil, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 20px;
    color: white;
}
