<!DOCTYPE html>
<head>
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/frn3hks.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap" rel="stylesheet"> </head>
<body>
    <script type="text/javascript" src="scripts/bgColor.js"></script>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</body>